@model DangKyKhamBenh.Models.ViewModels.BenhNhan
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Sửa bệnh nhân";
    ViewBag.Active = "Patients";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("EditPatient", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.BN_MaBenhNhan)
            @Html.HiddenFor(m => m.ND_IdNguoiDung)
         
            <div class="row g-3">
                <div class="col-md-4">
                    @Html.Label("Số BHYT", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.BN_SoBaoHiemYT, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.Label("Nhóm máu", new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.BN_NhomMau, new { @class = "form-control" })
                </div>

                <div class="col-md-6">
                    @Html.LabelFor(m => m.ND_HoTen, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ND_HoTen, new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(m => m.ND_HoTen, "", new { @class = "text-danger" })*@
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.ND_SoDienThoai, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ND_SoDienThoai, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.ND_Email, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ND_Email, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.ND_CCCD, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ND_CCCD, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.ND_NgaySinh, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ND_NgaySinh, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.ND_GioiTinh, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ND_GioiTinh, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.ND_QuocGia, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ND_QuocGia, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.ND_DanToc, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ND_DanToc, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.ND_NgheNghiep, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ND_NgheNghiep, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.ND_TinhThanh, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ND_TinhThanh, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.ND_QuanHuyen, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ND_QuanHuyen, new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.ND_PhuongXa, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ND_PhuongXa, new { @class = "form-control" })
                </div>

                <div class="col-12">
                    @Html.LabelFor(m => m.ND_DiaChiThuongChu, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ND_DiaChiThuongChu, new { @class = "form-control" })
                </div>
                <div class="col-md-12">
                    @Html.Label("Tiểu sử bệnh án", new { @class = "form-label" })
                    @Html.TextAreaFor(m => m.BN_TieuSuBenhAn, 3, 50, new { @class = "form-control" })
                </div>


            </div>

            <div class="mt-3 d-flex gap-2">
                <div class="mt-3 d-flex gap-2">
                    <!-- Nút Lưu: action = Save -->
                    <button type="submit" name="action" value="Save" class="btn btn-primary">
                        Lưu
                    </button>

                    <!-- Nút Giải mã: action = Decrypt -->
                    @*<button type="submit" name="action" value="Decrypt" class="btn btn-warning">
                        Giải mã
                    </button>*@

                    <a class="btn btn-outline-secondary" href="@Url.Action("Patients","Admin")">Hủy</a>
                </div>

            </div>
        }
    </div>
</div>
